<div class="container" id="search-container">
  <div class="row">
    <div class="offset-md-3 col-sm-6">
      <form (ngSubmit)="searchPokemon(pokemonId)">
      <div class="input-group mb-3">
        <input type="text"
               class="form-control"
               name="pokemonId"
               [(ngModel)]="pokemonId"
               placeholder="Pokemon's id"
               aria-label="Pokemon's id"
               aria-describedby="basic-addon2"
               required
               minlength="3">
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit" id="search-button"><i class="fas fa-search"></i>
            Search
          </button>
        </div>
      </div>
      </form>
    </div>
  </div>
