$inputHeight: 82px;
$ulWidth: 420px;

@media (max-width: 736px) {
  div#search-row, .offset-md-3 {
    margin-left: calc(50% - 210px);
  }
}

#search-container {
  position: absolute;
  top: calc(40% - #{$inputHeight});
  width: 100%;
  max-width: none;
  #search-row {
    min-width: 420px;
    margin-left: calc(50% - 210px);
    margin-bottom: 20px;
  }
  #error-message {
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: red;
  }
  #pokemon-list {
    margin-left: calc(50% - #{$ulWidth}/2);
  }
  input {
    padding: 40px 10px;
    font-size: 22px;
    opacity: 0.8;
  }
  #search-button {
    font-size: 22px;
  }
  ul {
    opacity: 0.7;
    width: $ulWidth;
    li {
      color: black;
      font-weight: bold;
      a.active {
        background: darkgray;
      }
    }
  }
  .pagination {
    max-width: 33.333333%;
    .page-link.disabled {
      cursor: not-allowed !important;
    }
  }
}
i.fas.fa-search {
  font-family: fontAwesome, sans-serif;
  font-style: normal;
}
