<div class="container" id="search-container">
  <div class="row">
    <div class="offset-sm-3 col-sm-6">
      <p *ngIf="error" id="error-message"> Incorrect Pokemon's Id. Please input a number, prefer range: 1-100.</p>
      <form (ngSubmit)="searchPokemon(pokemonId)">
        <div class="input-group mb-3">
          <input type="text"
                 class="form-control"
                 name="pokemonId"
                 [(ngModel)]="pokemonId"
                 placeholder="Pokemon's id"
                 aria-label="Pokemon's id"
                 aria-describedby="basic-addon2"
                 required
          >
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit" id="search-button">
              <i class="fas fa-search" style="padding-right:10px"></i><span>Search</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id="pokemon-list">
    <ul class="list-group text-center">
      <li class="list-group-item" *ngFor="let pokemon of pokemons">
        <a [href]="pokemon.appUrl">{{pokemon?.name}}</a>
      </li>
    </ul>
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" [class.disabled]="currentPageIndex===1" (click)="changePage(currentPageIndex-1)"><span aria-hidden="true">&laquo;</span></a></li>
        <li *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" class="page-item">
          <a (click)="changePage(i)" [class.active]="currentPageIndex===i" class="page-link">{{i}}</a>
        </li>
        <li class="page-item">
          <a class="page-link" [class.disabled]="currentPageIndex===10" (click)="changePage(currentPageIndex+1)">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
