<div class="center-on-page">
  <div class="pokeball">
    <div class="pokeball__button"></div>
  </div>
</div>

<div class="card text-center" id="pokemon-card" *ngIf="pokemon">
  <div class="card-body">
    <div class="col-xs-12" id="back-nav">
      <a href="pokemons" class="back"><i class="fas fa-long-arrow-left"></i>Back to search page</a>
    </div>
    <h2 class="card-title">{{pokemon.name}}</h2>
    <a id="prev-arrow"
       *ngIf="pokemon.id!=1"
       (click)="changeCard(pokemon.id-1)">
      <i class="fas fa-arrow-left"></i>
    </a>
    <i *ngIf="loading" class="fa fa-spinner fa-spin" style="font-size:44px"></i>
    <img id="pokemon-photo" [src]="pokemon.sprites.front_default" alt="">
    <a id="next-arrow"
       (click)="changeCard(pokemon.id+1)">
      <i class="fas fa-arrow-right"></i>
    </a>
    <h3>Stats</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <span class="col-xs-6 pull-left">Base stat:</span>
        <span class="col-xs-6 pull-right">Effort: </span>
      </li>
    <li class="list-group-item" *ngFor="let stat of pokemon.stats">
      <span class="base-stat col-xs-6 pull-left" *ngIf="stat.base_stat">
        {{stat.base_stat}} <i class="fas fa-bolt" style="color: yellow; font-size: 16px;"></i>
      </span>
      <span class="effort col-xs-6 pull-right" *ngIf="stat.effort">{{stat.effort}}
      <i class="fas fa-bolt" style="color: red; font-size: 16px;"></i></span>
    </li>
    </ul>
  </div>
  <div>
    <span class="glyphicon glyphicon-chevron-left"></span>
  </div>
</div>
<div id="error" *ngIf="error" class="container">
  <div class="offset-md-3 col-sm-6 text-center">
    <p>Pokemon with id: {{pokemonId}} doesn't exist!</p>
    <img src="assets/sad-pokemon.jpg" alt="" width="100%">
  <a href="/pokemons">Back to search</a>
  </div>
</div>
